<ng-container>
    <div class="card animated fadeIn fast">
        <div class="card-body">
            <figure>
                <img [src]="gnome.thumbnail" [alt]="gnome.name" class="img-thumb" width="100%">
            </figure>
            <h4 class="card-title">{{gnome.name}}</h4>
            <button type="button" class="btn" (click)="viewGnome(gnome.id)">view details</button>
            <!--on click on the selected card we call viewGnome Method and we pass gnome.id as a parameter-->
        </div>
    </div>
</ng-container>




